/combined_docked.pse filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/homomer_chains/1svc_chains/1svc_conformations/1svc_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/homomer_chains/2vy1_chains/2vy1_conformations/2vy1_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/homomer_chains/2vy2_chains/2vy2_conformations/2vy2_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/homomer_chains/4e68_chains/4e68_conformations/4e68_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1a66_chains/1a66_conformations/1a66_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1a66_chains/1a66_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1cdw_chains/1cdw_conformations/1cdw_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1cdw_chains/1cdw_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1j46_chains/1j46_conformations/1j46_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1j46_chains/1j46_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1mnn_chains/1mnn_conformations/1mnn_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1mnn_chains/1mnn_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1nk3_chains/1nk3_conformations/1nk3_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1nk3_chains/1nk3_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1tgh_chains/1tgh_conformations/1tgh_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1tgh_chains/1tgh_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1ubd_chains/1ubd_conformations/1ubd_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/1ubd_chains/1ubd_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2etw_chains/2etw_conformations/2etw_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2etw_chains/2etw_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euv_chains/2euv_conformations/2euv_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euv_chains/2euv_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euw_chains/2euw_conformations/2euw_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euw_chains/2euw_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2eux_chains/2eux_conformations/2eux_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2eux_chains/2eux_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euz_chains/2euz_conformations/2euz_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2euz_chains/2euz_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evf_chains/2evf_conformations/2evf_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evf_chains/2evf_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evg_chains/2evg_conformations/2evg_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evg_chains/2evg_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evh_chains/2evh_conformations/2evh_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evh_chains/2evh_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evi_chains/2evi_conformations/2evi_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evi_chains/2evi_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evj_chains/2evj_conformations/2evj_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2evj_chains/2evj_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2ff0_chains/2ff0_conformations/2ff0_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2ff0_chains/2ff0_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2gzk_chains/2gzk_conformations/2gzk_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2gzk_chains/2gzk_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2hdc_chains/2hdc_conformations/2hdc_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2hdc_chains/2hdc_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2jp9_chains/2jp9_conformations/2jp9_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2jp9_chains/2jp9_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2jpa_chains/2jpa_conformations/2jpa_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2jpa_chains/2jpa_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2lt7_chains/2lt7_conformations/2lt7_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2lt7_chains/2lt7_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2stt_chains/2stt_conformations/2stt_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2stt_chains/2stt_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2stw_chains/2stw_conformations/2stw_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/2stw_chains/2stw_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3brg_chains/3brg_conformations/3brg_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3brg_chains/3brg_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3iag_chains/3iag_conformations/3iag_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3iag_chains/3iag_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3ukg_chains/3ukg_conformations/3ukg_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/3ukg_chains/3ukg_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4gfb_chains/4gfb_conformations/4gfb_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4gfb_chains/4gfb_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4hc9_chains/4hc9_conformations/4hc9_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4hc9_chains/4hc9_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4yo2_chains/4yo2_conformations/4yo2_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/4yo2_chains/4yo2_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5egb_chains/5egb_conformations/5egb_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5egb_chains/5egb_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5vmv_chains/5vmv_conformations/5vmv_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5vmv_chains/5vmv_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5z6z_chains/5z6z_conformations/5z6z_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5z6z_chains/5z6z_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfw_chains/5zfw_conformations/5zfw_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfw_chains/5zfw_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfy_chains/5zfy_conformations/5zfy_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfy_chains/5zfy_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfz_chains/5zfz_conformations/5zfz_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/5zfz_chains/5zfz_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/6ldm_chains/6ldm_conformations/6ldm_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/6ldm_chains/6ldm_conformations/docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/6m3d_chains/6m3d_conformations/6m3d_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/6pax_chains/6pax_conformations/6pax_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/6u81_chains/6u81_conformations/6u81_docked.pdb filter=lfs diff=lfs merge=lfs -text
/deeppbs_pdbs/monomer_chains/7eds_chains/7eds_conformations/7eds_docked.pdb filter=lfs diff=lfs merge=lfs -text
